<section class="about-section" id="about">
  <div class="container">
    <h2 class="about-title">About the game</h2>
    <p class="about-text">
      Welcome to Party Match! Join Brandon and Wendy on their journey to bring
      people together through exciting match-3 gameplay and stylish decorations!
      Complete challenging puzzles, unlock unique locations, and create the
      ultimate party atmosphere!
    </p>

    <div class="swiper swiper-about">
      <ul class="about-list swiper-wrapper">
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/about-the-game/atg-mobile1.png    1x,
                ./img/about-the-game/atg-mobile1@2x.png 2x
              "
              media="(max-width: 1200px)"
            />
            <source
              srcset="
                ./img/about-the-game/atg-desktop1.png    1x,
                ./img/about-the-game/atg-desktop1@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              class="about-img"
              src="./img/about-the-game/atg-mobile1.png"
              alt="About Photo 1"
            />
          </picture>
          <h3 class="about-item-title">Engaging Match-3 Gameplay</h3>
          <p class="about-item-text">
            Solve puzzles and complete fun challenges
          </p>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/about-the-game/atg-mobile2.png    1x,
                ./img/about-the-game/atg-mobile2@2x.png 2x
              "
              media="(max-width: 1200px)"
            />
            <source
              srcset="
                ./img/about-the-game/atg-desktop2.png    1x,
                ./img/about-the-game/atg-desktop2@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              class="about-img"
              src="./img/about-the-game/atg-mobile2.png"
              alt="About Photo 2"
            />
          </picture>
          <h3 class="about-item-title">Exciting Decorations</h3>
          <p class="about-item-text">
            Unlock and customize party areas with unique designs
          </p>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/about-the-game/atg-mobile3.png    1x,
                ./img/about-the-game/atg-mobile3@2x.png 2x
              "
              media="(max-width: 1200px)"
            />
            <source
              srcset="
                ./img/about-the-game/atg-desktop3.png    1x,
                ./img/about-the-game/atg-desktop3@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              class="about-img"
              src="./img/about-the-game/atg-mobile3.png"
              alt="About Photo 3"
            />
          </picture>
          <h3 class="about-item-title">Charming Storyline</h3>
          <p class="about-item-text">
            Follow Brandon and Wendy’s adventure as they bring joy to every
            event
          </p>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/about-the-game/atg-mobile4.png    1x,
                ./img/about-the-game/atg-mobile4@2x.png 2x
              "
              media="(max-width: 1200px)"
            />
            <source
              srcset="
                ./img/about-the-game/atg-desktop4.png    1x,
                ./img/about-the-game/atg-desktop4@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              class="about-img"
              src="./img/about-the-game/atg-mobile4.png"
              alt="About Photo 4"
            />
          </picture>
          <h3 class="about-item-title">Endless Fun</h3>
          <p class="about-item-text">
            New levels, new decorations, and nonstop excitement!
          </p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
