<div class="backdrop" id="mobile-menu">
  <div class="burger-menu">
    <button type="button" class="button-close">
      <svg width="24" height="24">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <a href="/index.html" class="burger-links">HOME</a>
    <a href="#about" class="burger-links">ABOUT THE GAME</a>
    <a href="#" class="burger-links">HOW TO PLAY</a>
    <a href="#game-features" class="burger-links">GAME FEATURES</a>
    <a href="#gallery" class="burger-links">GALLERY</a>
    <a href="#reviews" class="burger-links">REVIEWS</a>
    <a href="#" class="burger-links">FAQ</a>
  </div>
</div>
