<div class="backdrop" id="mobile-menu">
  <div class="burger-menu">
    <button type="button" class="button-close">
      <svg width="24" height="24">
        <use href="../img/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <a href="/" class="nav-links">HOME</a>
    <a href="#" class="nav-links">ABOUT THE GAME</a>
    <a href="#" class="nav-links">HOW TO PLAY</a>
    <a href="#" class="nav-links">GAME FEATURES</a>
    <a href="#" class="nav-links">GALLERY</a>
    <a href="#" class="nav-links">REVIEWS</a>
    <a href="#" class="nav-links">FAQ</a>
  </div>
</div>
