<section class="faq-section" id="faq">
  <div class="container">
    <h2 class="name-section">FAQ</h2>
    <ul class="list-faq">
      <li class="item-faq">
        <div class="block-with-description-faq">
          <h3 class="title-description-faq">Is Party Match free to play?</h3>
          <p class="text-description-faq">
            Yes! You can download and play for free, with optional in-game
            purchases.
          </p>
        </div>
        <svg class="icon-accordion" width="50" height="50">
          <use href="./img/sprite.svg#icon-arrow-up"></use>
        </svg>
      </li>

      <li class="item-faq">
        <div class="block-with-description-faq">
          <h3 class="title-description-faq">Can I play offline?</h3>
          <p class="text-description-faq">
            Some features require an internet connection, but you can enjoy
            certain modes offline.
          </p>
        </div>
        <svg class="icon-accordion" width="50" height="50">
          <use href="./img/sprite.svg#icon-arrow-up"></use>
        </svg>
      </li>

      <li class="item-faq">
        <div class="block-with-description-faq">
          <h3 class="title-description-faq">
            What platforms is the game available on?
          </h3>

          <p class="text-description-faq">
            Party Match is available on Android devices
          </p>
        </div>

        <svg
          class="icon-accordion"
          width="50"
          height="50"
          aria-label="accordion icon to describe game features"
        >
          <use href="./img/sprite.svg#icon-arrow-up"></use>
        </svg>
      </li>

      <li class="item-faq">
        <div class="block-with-description-faq">
          <h3 class="title-description-faq">
            How do I unlock new decorations?
          </h3>

          <p class="text-description-faq">
            You earn decorations by completing levels and events
          </p>
        </div>

        <svg
          class="icon-accordion"
          width="50"
          height="50"
          aria-label="accordion icon to describe game features"
        >
          <use href="./img/sprite.svg#icon-arrow-up"></use>
        </svg>
      </li>

      <li class="item-faq">
        <div class="block-with-description-faq">
          <h3 class="title-description-faq">
            Will there be new areas to decorate?
          </h3>

          <p class="text-description-faq">
            Yes! Our team is constantly adding new locations and exciting
            challenges
          </p>
        </div>

        <svg
          class="icon-accordion"
          width="50"
          height="50"
          aria-label="accordion icon to describe game features"
        >
          <use href="./img/sprite.svg#icon-arrow-up"></use>
        </svg>
      </li>
    </ul>
  </ul>
  </div>
</section>