<footer class="footer-section">
  <div class="container">
    <ul class="footer-list">
      <li class="footer-item">
        <a class="footer-navigation-link" href="./policy.html"
          >PRIVACY POLICY</a
        >
      </li>
      <li class="footer-item">
        <a class="footer-navigation-link" href="./terms.html"
          >TERMS & CONDITIONS</a
        >
      </li>
      <li class="footer-item">
        <a class="footer-navigation-link" href="./cookies.html"
          >COOKIES POLICY</a
        >
      </li>
    </ul>
    <!-- <a class="link-to-the-main-page" href="#"> 2025 fusionlightway.com</a> -->
    <p class="home-page">2025 fusionlightway.com</p>
  </div>
</footer>
