<footer class="footer-section">
  <div class="container">
    <ul class="footer-list">
      <li class="footer-item">
        <a class="footer-navigation-link" href="./">PRIVACY POLICY</a>
      </li>
      <li class="footer-item">
        <a class="footer-navigation-link" href="./">TERMS & CONDITIONS</a>
      </li>
      <li class="footer-item">
        <a class="footer-navigation-link" href="./cookies.html"
          >COOKIES POLICY</a
        >
      </li>
    </ul>
    <a class="link-to-the-main-page" href="#"> 2025 fusionlightway.com</a>
  </div>
</footer>
