<section class="gellary-section" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="swiper swiper-gallery">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/gallery-mobile-1.png    1x,
                ./img/gallery/gallery-mobile-1@2x.png 2x
              "
              media="(max-width: 1200px)"
            />
            <source
              srcset="
                ./img/gallery/gallery-desktop-1.png    1x,
                ./img/gallery/gallery-desktop-1@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="./img/gallery/gallery-mobile-1.png"
              alt="Gallery Photo 1"
              class="gallery-img"
            />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/gallery-mobile-2.png    1x,
                ./img/gallery/gallery-mobile-2@2x.png 2x
              "
              media="(max-width: 1200px)"
            />
            <source
              srcset="
                ./img/gallery/gallery-desktop-2.png    1x,
                ./img/gallery/gallery-desktop-2@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="./img/gallery/gallery-mobile-2.png"
              alt="Gallery Photo 2"
              class="gallery-img"
            />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/gallery-mobile-3.png    1x,
                ./img/gallery/gallery-mobile-3@2x.png 2x
              "
              media="(max-width: 1200px)"
            />
            <source
              srcset="
                ./img/gallery/gallery-desktop-3.png    1x,
                ./img/gallery/gallery-desktop-3@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="./img/gallery/gallery-mobile-3.png"
              alt="Gallery Photo 3"
              class="gallery-img"
            />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source
              srcset="
                ./img/gallery/gallery-mobile-4.png    1x,
                ./img/gallery/gallery-mobile-4@2x.png 2x
              "
              media="(max-width: 1200px)"
            />
            <source
              srcset="
                ./img/gallery/gallery-desktop-4.png    1x,
                ./img/gallery/gallery-desktop-4@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="./img/gallery/gallery-mobile-4.png"
              alt="Gallery Photo 4"
              class="gallery-img"
            />
          </picture>
        </li>
      </ul>
      <div class="swiper-button-prev">
        <svg width="36" height="36">
          <use href="../img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg width="36" height="36">
          <use href="../img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
