<header>
  <div class="container">
    <div class="header-container">
      <button
        type="button"
        class="button-burger-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="24" height="24">
          <use href="./img/sprite.svg#icon-burger-menu"></use>
        </svg>
      </button>

      <a href="/">
        <img src="./img/favicon/favicon.png" alt="favicon" class="favicon" />
      </a>
      <a href="#" class="header-title">PLAY MATCH</a>

      <nav class="nav">
        <a href="#home" class="nav-links">HOME</a>
        <a href="#about" class="nav-links">ABOUT THE GAME</a>
        <a href="#how-to-play" class="nav-links">HOW TO PLAY</a>
        <a href="#game-features" class="nav-links">GAME FEATURES</a>
        <a href="#" class="nav-links">GALLERY</a>
        <a href="#" class="nav-links">REVIEWS</a>
        <a href="#" class="nav-links">FAQ</a>
      </nav>
    </div>
  </div>
</header>
