<section class="hero-down">
  <div class="container">
    <h2 class="join-the-party-hero-down">Join the Party Today!</h2>
    <p class="text-hero-down">
      Download Party Match Now and Create the Ultimate Celebration!
    </p>
    <button class="play-button play-button-hero-down" type="button">
      <a class="play-link" href="#" target="_blank"
        ><svg
          class="play-market-btn-icon"
          width="46"
          height="50"
          aria-label="mobile open menu"
        >
          <use href="./img/sprite.svg#icon-google-play"></use>
        </svg>
        <p class="text-for-the-game">
          Get in on<br />
          GOOGLE PLAY
        </p></a
      >
    </button>
  </div>
</section>
