<section class="how-to-play-section">
  <div class="container">
    <picture>
      <source
        srcset="
          ./img/how-to-play/background-mobile-htp1.png    1x,
          ./img/how-to-play/background-mobile-htp2@2x.png 2x
        "
        media="(max-width: 1200px)"
      />
      <source
        srcset="
          ./img/how-to-play/background-desktop-htp1.png    1x,
          ./img/how-to-play/background-desktop-htp2@2x.png 2x
        "
        media="(min-width: 1200px)"
      />

      <img
        class="bg-img-how-to-play"
        src="./img/how-to-play/background-mobile-htp1.png"
        alt="a picture that describes the game"
      />
    </picture>

    <h2 class="title-how-to-play">How to play</h2>

    <ul class="menu-how-to-play">
      <li class="item-how-to-play">
        <picture>
          <source
            srcset="
              ./img/how-to-play/circle-1-1.png    1x,
              ./img/how-to-play/circle-1-2@2x.png 2x
            "
          />
          <img
            class="game-pictures-how-to-play"
            src="./img/how-to-play/circle-1-1.png"
            alt="a picture that describes the game"
          />
        </picture>
        <h3 class="picture-name">Match 3 or More</h3>
        <p class="picture-description">
          Solve puzzles by creating colorful combos
        </p>
      </li>
      <li class="item-how-to-play">
        <picture>
          <source
            srcset="
              ./img/how-to-play/circle-2-1.png    1x,
              ./img/how-to-play/circle-2-2@2x.png 2x
            "
          />
          <img
            class="game-pictures-how-to-play"
            src="./img/how-to-play/circle-2-1.png"
            alt="a picture that describes the game"
          />
        </picture>
        <h3 class="picture-name">Decorate & Customize</h3>
        <p class="picture-description">
          Choose trendy designs for each party area
        </p>
      </li>
      <li class="item-how-to-play">
        <picture>
          <source
            srcset="
              ./img/how-to-play/circle-3-1.png    1x,
              ./img/how-to-play/circle-3-2@2x.png 2x
            "
          />
          <img
            class="game-pictures-how-to-play"
            src="./img/how-to-play/circle-3-1.png"
            alt="a picture that describes the game"
          />
        </picture>
        <h3 class="picture-name">Unlock New Locations</h3>
        <p class="picture-description">
          Progress through the game to discover exciting party spots
        </p>
      </li>
      <li class="item-how-to-play">
        <picture>
          <source
            srcset="
              ./img/how-to-play/circle-4-1.png    1x,
              ./img/how-to-play/circle-4-2@2x.png 2x
            "
          />
          <img
            class="game-pictures-how-to-play"
            src="./img/how-to-play/circle-4-1.png"
            alt="a picture that describes the game"
          />
        </picture>
        <h3 class="picture-name">Complete Fun Challenges</h3>
        <p class="picture-description">
          Beat levels to earn rewards and unlock decorations
        </p>
      </li>
    </ul>

    <p class="text-enjoy">
      Enjoy a vibrant atmosphere with music, lights, and dance floors!
    </p>
  </div>
</section>
