<div class="modal-cookies">
  <div class="container">
    <div class="modal-container">
      <div>
        <h2 class="modal-title">Our cookie Policy</h2>
        <p class="modal-text">
          We use cookies to improve your experience on our website. By browsing
          this website, you agree to our use of cookies.
        </p>
      </div>
      <div class="button-block-modal">
        <button type="button" class="accept-button">Accept cookies</button>
        <button type="button" class="decline-button">Decline cookies</button>
      </div>
    </div>
  </div>
</div>
