<section class="reviews-section" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper swiper-reviews">
      <ul class="swiper-wrapper">
        <li class="swiper-slide reviews-item">
          <p class="reviews-text">
            A perfect mix of match-3 and decoration! Love designing the party
            areas!
          </p>
          <h3 class="reviews-name">Sarah Lewis</h3>
        </li>
        <li class="swiper-slide reviews-item">
          <p class="reviews-text">
            The puzzles are fun, and the decorations are super stylish!
          </p>
          <h3 class="reviews-name">Jason Carter</h3>
        </li>
        <li class="swiper-slide reviews-item">
          <p class="reviews-text">
            Great game with a lively atmosphere. Keeps me coming back every day!
          </p>
          <h3 class="reviews-name">Emily Robinson</h3>
        </li>
        <li class="swiper-slide reviews-item">
          <p class="reviews-text">
            Addictive gameplay and colorful visuals. Highly recommend!
          </p>
          <h3 class="reviews-name">Daniel Thompson</h3>
        </li>
        <li class="swiper-slide reviews-item">
          <p class="reviews-text">
            I love the characters and the story! It makes the game even more
            engaging!
          </p>
          <h3 class="reviews-name">Olivia Adams</h3>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev">
        <svg width="36" height="36">
          <use href="../img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg width="36" height="36">
          <use href="../img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
