.footer-section {
  background: linear-gradient(
      180deg,
      var(--gradient-black) 0.5%,
      var(--gradient-white) 78%,
      var(--gradient-black) 100%
    ),
    var(--background-color);

  padding-top: 16px;
  padding-bottom: 16px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;

  padding-bottom: 14px;
}

.secondary-pages > .footer-section > .container > .footer-list {
  align-items: start;
}

.footer-navigation-link {
  font-size: 15px;
}

.home-page {
  text-align: center;

  font-size: 20px;
}

.secondary-pages > .footer-section > .container > .home-page {
  text-align: start;
}

@include media(desktop) {
  .footer-section {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 7px;
  }

  .home-page {
    font-size: 24px;
  }

  .secondary-pages > .footer-section > .container > .home-page {
    text-align: center;
  }
}
