.policy-section {
  padding-top: 16px;
}

@include media(desktop) {
  .policy-section {
    padding-top: 40px;
  }
}

.policy-title {
  font-family: var(--font-family-Baloo);
  @include font(24, 24);
  text-align: center;
  margin-bottom: 12px;
}

@include media(desktop) {
  .policy-title {
    @include font(36, 36);
    text-align: start;
    margin-bottom: 24px;
  }
}

.policy-block-title {
  font-family: var(--font-family-Baloo);
  @include font(20, 24);
  text-align: center;
  margin-bottom: 12px;
}

@include media(desktop) {
  .policy-block-title {
    @include font(28, 28);
    text-align: start;
    margin-bottom: 24px;
  }
}

.policy-text {
  font-weight: 600;
  margin-bottom: 32px;
}

@include media(desktop) {
  .policy-text {
    @include font(20, 30);
    margin-bottom: 40px;
  }
}

.policy-text:nth-child(3),
.policy-text:nth-child(8),
.policy-text:nth-child(16),
.policy-text:nth-child(18),
.policy-text:nth-child(21),
.policy-text:nth-child(23),
.policy-text:nth-child(26),
.policy-text:nth-child(28) {
  margin-bottom: 12px;
}

@include media(desktop) {
  .policy-text:nth-child(3),
  .policy-text:nth-child(8),
  .policy-text:nth-child(16),
  .policy-text:nth-child(18),
  .policy-text:nth-child(21),
  .policy-text:nth-child(23),
  .policy-text:nth-child(26),
  .policy-text:nth-child(28) {
    margin-bottom: 24px;
  }
}

.policy-text:nth-child(5),
.policy-text:nth-child(11),
.policy-text:nth-child(13) {
  margin-bottom: 0;
}

.policy-text a {
  display: inline;
}

.policy-list {
  list-style: disc;
  padding-left: 28px;
  margin-bottom: 32px;
}

@include media(desktop) {
  .policy-list {
    padding-left: 30px;
    margin-bottom: 40px;
  }
}

.last-policy-list {
  list-style: disc;
  padding-left: 28px;
  margin-bottom: 12px;
}

@include media(desktop) {
  .last-policy-list {
    padding-left: 30px;
    margin-bottom: 24px;
  }
}

.policy-item {
  font-weight: 600;
}

@include media(desktop) {
  .policy-item {
    @include font(20, 30);
  }
}

.policy-link {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

@include media(desktop) {
  .policy-link {
    @include font(20, 30);
  }
}
