@import './header.scss';
@import './hero.scss';
@import './about-the-game.scss';
@import './how-to-play.scss';
@import './game-features.scss';
@import './game-atmosphere.scss';
@import './gallery.scss';
@import './reviews.scss';
@import './faq.scss';
@import './hero-down.scss';
@import './burger-menu.scss';
@import './modal-cookies.scss';
@import './policy.scss';
@import './terms.scss';
@import './cookies.scss';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --shadow-black: rgba(0, 0, 0, 0.5);
  --gradient-black: rgba(0, 0, 0, 0.2);
  --gradient-white: rgba(255, 255, 255, 0.2);
  --background-color: #39036e;
  --background-burger: #32065c;
  --background-about: #770da0;
  --backdrop-color: rgba(0, 0, 0, 0.7);

  --bullet-active: #983eb3;
  --bullet-color: #af70c5;

  --black-color: #000;
  --white-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  font-family: 'Open Sans', sans-serif;
}

.section {
  // padding-left: 16px;
  // padding-right: 16px;
}

.container {
  height: 100%;
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@include media(desktop) {
  .container {
    max-width: 1200px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
